/.old_code_versions
/.vscode
/__pycache__

/data/EUR BVOL CUBE
/data/EUR SWAP CURVE
/data/EUR ZERO CURVE
/data/META
/data/TESTS

/LaTeX/images/

/results/descriptive_analysis

/results/traditional/

/results/sensitivity_analysis/

/results/neural_network/hyperband_tuner
/results/neural_network/hyperparameters
/results/neural_network/models
/results/comparison

NOTES.txt