/.old_code_versions
/.vscode

/data/EUR BVOL CUBE
/data/EUR SWAP CURVE
/data/EUR ZERO CURVE
/data/META

/results/descriptive_analysis

/results/traditional/

/results/traditional/predictions
/results/traditional/parameters
/results/neural_network/hyperband_tuner
/results/neural_network/hyperparameters
/results/neural_network/models

NOTES.txt