/.old_code_versions
/.vscode

/data/EUR BVOL CUBE
/data/EUR SWAP CURVE
/data/EUR ZERO CURVE
/data/META

/results/traditional/predictions
/results/traditional/parameters
/results/neural_network/predictions
/results/neural_network/parameters

NOTES.txt